.single-news {
  padding: 0.5rem;

  & h2 {
    margin: 0 0 1.5rem;
    text-align: center;
  }

  & .error {
    text-align: center;
    color: var(--color-error-primary);
  }
}

.navigate-button {
  padding: 1.6rem;
}
